@import './reset/reset';
@import './mixins/mixin';

.cards {
    padding: 50px 0;

    .add-btn {
        position: fixed;
        right: 30px;
        bottom: 30px;
        font-size: 25px;
    }
    .fav-btn {
        position: fixed;
        right: 30px;
        bottom: 100px;
        font-size: 25px;
        padding: 17px;
        @include flex(center, center)
    }

    .cards-wrapper {
        text-transform: capitalize;
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        gap: 30px;

        .modal {
            z-index: 1;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .2);
            top: 0;
            left: 0;
            backdrop-filter: blur(0);
            pointer-events: none;
            opacity: 0;

            &.active {
                backdrop-filter: blur(20px);
                pointer-events: all;
                opacity: 1;
            }

            .container{
                @include flex(center, center); 
                height: 100vh;
                form{
                    background: #fff;
                    border-radius: 8px;
                    width: 100%;
                    max-width: 500px;
                    @include flex(center, center);
                    flex-direction: column;
                    gap: 20px;
                    padding: 40px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    transform: scale(0);
                    input[type = "file"]{
                        display: none;
                    }
                    label{
                        position: relative;
                        width: 158px;
                        height: 158px;
                        border-radius: 999px;
                        border: solid 8px rgba(0, 0, 0, .2);
                        @include flex(center, center); 
                        img{
                            width: 150px;
                            height: 150px;
                            border-radius: 999px;
                            object-fit: cover;
                        }
                        i{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            font-size: 40px;
                            color: #fff;
                            background: rgba(0, 0, 0, .5);
                            @include flex(center, center); 
                            border-radius: 999px;
                            opacity: 0;
                        }
                        &:hover i{
                            opacity: 1;
                        }
                    }
                    input{
                        width: 100%;
                        font-size: 18px;
                        border: solid 2px rgba(0, 0, 0, .5);
                        border-radius: 10px;
                        padding: 10px 20px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                    button{
                        width: 100%;
                    }
                    &.active{
                        transform: scale(1);
                    }
                }
            }
        }

        .alert-success {
            z-index: 50;
            position: fixed;
            top: 30px;
            right: -500px;
            color: green;
            text-transform: capitalize;
            @include flex(center);
            padding: 10px 20px;
            max-width: 500px;
            background: rgba(0, 255, 0, .2);
            gap: 10px;
            border: solid 3px rgba(0, 255, 0, .5);
            border-radius: 8px;
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            overflow: hidden;

            i {
                font-size: 30px
            }

            span {
                font-size: 20px;
                font-weight: 500
            }

            &::after {
                z-index: -1;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 255, 0, .3);
                top: 0;
                left: 0;
                animation: alert 3s;
            }

            &.active {
                right: 30px;
            }
        }

        .alert-error {
            z-index: 50;
            position: fixed;
            top: 30px;
            right: -500px;
            color: red;
            text-transform: capitalize;
            @include flex(center);
            padding: 10px 20px;
            max-width: 500px;
            background: rgba(255, 0, 0, .2);
            gap: 10px;
            border: solid 3px rgba(255, 0, 0, .5);
            border-radius: 8px;
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            overflow: hidden;

            i {
                font-size: 30px
            }

            span {
                font-size: 20px;
                font-weight: 500
            }

            &::after {
                z-index: -1;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 0, .3);
                top: 0;
                left: 0;
                animation: alert 3s;
            }

            &.active {
                right: 30px;
            }
        }

        .title {
            @include flex(center, center);
            flex-direction: column;
            text-align: center;
            gap: 10px;

            h1 {
                font-size: 40px;
                font-weight: 500;
            }

            span {
                color: gray;
                font-size: 20px;
            }
        }

        .load-more {
            display: none;
        }

        .load {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }

        .card-list {
            @include grid(3);
            padding: 20px;
            gap: 20px;

            .card {
                position: relative;
                background: rgba(0, 136, 248, 0.1);
                height: 450px;
                overflow: hidden;
                border-radius: 10px;
                padding: 20px;
                @include flex(center, space-between);
                flex-direction: column;
                text-align: center;

                h1 {
                    font-weight: 500;
                }

                p {
                    font-size: 20px;
                    color: gray;
                }
                .image{
                    width: 150px;
                    height: 150px;
                    border-radius: 999px;
                    img{
                        width: 150px;
                        height: 150px;
                        border-radius: 999px;
                        object-fit: cover; 
                    }
                }

                .buttons {
                    width: 100%;

                    button {
                        width: 100%
                    }

                    .top {
                        @include flex(center, center);
                        gap: 10px;
                        margin-bottom: 10px;
                    }
                }

                &::after {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgb(0, 136, 248, .15);
                    top: 500px;
                    left: 0;
                    transition: all .5s ease;
                }

                &:hover::after {
                    top: 0;
                }
            }
        }
    }
}

@keyframes alert {
    10% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@media(max-width: 991px) {
    .cards {
        .cards-wrapper {
            .title {
                h1 {
                    font-size: 30px;
                }

                span {
                    font-size: 15px;
                }
            }

            .card-list {
                @include grid(2);
            }
        }
    }
}

@media(max-width: 575px) {
    .cards {
        .cards-wrapper {
            .card-list {
                @include grid(1);
            }
        }
    }
}